.DS_Store
.check-custom-os-verify.py
.check-custom-os-verify.log
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
env/
.tox/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.log
cnide.log
cyanide.log
log/
logs/
data/quarantine/
test_results
.mypy_cache
configs/profiles/*/.compiled.db
.ruff_cache
.venv
example_prod_log.json   
MagicMock/
src/cyanide/configs/profiles/*/.compiled.db
